<div class="flex flex-col h-screen w-screen bg-black justify-center items-center text-left">
    <div class="flex flex-col w-[90%]">
      <p class="block w-[100%] text-white text-[12vw] md:text-[6vw] font-bold">404</p> 
      <div class="flex flex-col">
        <p class="text-white text-[8vw] md:text-[4vw] font-semibold">Something went wrong.</p>
        <p class="text-gray-400 text-[4vw] md:text-[2vw]">The page is missing or you assembled the link incorrectly</p>
      </div>
      <a class="text-blue-500 text-[4vw] md:text-[2vw] mt-8" href="">Go back to home page</a>
    </div>
  </div>