<div class="fixed flex flex-row rounded-t-2xl lg:rounded-none lg:flex-col lg:w-auto lg:h-screen lg:justify-start flex-shrink items-center justify-between bg-white bottom-0 left-0 w-full h-20 text-black px-6 py-10  ">
  <div class="hidden lg:flex mb-10">
    <p class="text-xl">FileForMoney</p>
  </div>
  <div class="flex lg:flex-col lg:gap-y-4 justify-between  w-full">
    @for (item of navbarItems; track $index) {
      <navbar-item [label]="item.label" [icon]="item.icon" [href]="item.href"/>
    }
  </div>
</div>  